
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

h1 {
  text-align: center;
}

form {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

    div.center {
	margin: auto;
	width: 100%;
	height: 800px;
	padding: 10px 10px;
	border: none;
	overflow: hidden;
}
    div.center_audio {
	margin: auto;
	width: 30%;
	height: 50px;
	padding: 10px 10px;
	border: 5px solid lightblue;
	overflow: hidden;
}
    div.center_audio_list {
	margin: auto;
	width: 50%;
	height: 50%;
	padding: 10px 10px;
	border: 5px solid lightblue;
	overflow: scroll;
}
    div.center2 {
	margin: auto;
	width: 100%;
    	height: 500px;
	padding: 0px 0px;
	border: 5px solid lightblue;
	text-align: center;
	background: url("./image/Anime-Water-Summer.jpg") no-repeat;
	background-size: cover;
	background-position: 0% 100%;
}
    div.center3 {
	width: 30%;
    	height: 100%;
	padding: 0px 0px;
	border: 5px solid lightblue;
	text-align: center;
	background: url("./image/Anime-Water-Summer.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	float: left;
}
    div.center4 {
	width: 70%;
    	height: 50%;
	padding: 0px 0px;
	border: 5px solid lightblue;
	text-align: center;
	background: url("./image/Anime-Water-Summer.jpg") no-repeat;
	background-size: cover;
	background-position: 0% 50%;
	float: left;
}
    div.bg_img {
	    content: "";
	    position: absolute;
	    background-image: url("./image/Anime-Water-Summer.jpg");
	    background-size: 100%;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: -1;
	    opacity: 0.5;
	    max-width: 600px;
	    margin: auto;
	    background-repeat: no-repeat;
	    overflow: auto;
    }
    .audio_style {
	    margin: auto;
    }
.active a{color:#5DB0E6;text-decoration:none;}
li a{color:#eeeedd;background:#333;padding:5px;display:block;}
li a:hover{text-decoration:none;}
